<h1>Your Notifications</h1>

<% if @notifications.empty? %>
  <p>You don't have any notifications</p>
<% else %>
  <% @notifications.each do |notification| %>
  <h4><%= notification.display_date %></h4>
  <%= notification.create_message %> <%= button_to "Mark as Read", notification_path(notification), :notification_id => notification.id, :method=>"patch"  %>
  <% end %>
<% end %>
