<h1>Replace Player</h1>

<%= form_tag({controller: 'player_teams', action: 'update'}, method: "patch") do %>
<%= label_tag("Replace your player") %>
<%= collection_select(:player, :id, Player.where(position: @player.position), :id, :name)%> <br>
<%= submit_tag "submit" %>
<% end %>
