<%= render partial: 'teams/team_tabs', locals: {team: @team, user: @team.user} %>

<div class="container text-center">
  <h1>Matches</h1>
  <div>
    <% @matches.each do |match| %>
      <p><%= link_to match.summary, match_path(match), class: "red" %></p>
    <% end %>
  </div>
</div>
